 @media only screen and (max-width: 600px) {
     .main-login {
         flex-direction: column;
     }

     .left-login>h1 {
         display: none;
         /* faz com que o título desapareça com a regra dos 600px */
     }

     .left-login {
         width: 100vw;
         height: auto;
         /* height: pode ser auto para mobile pois refere-se a div */
     }

     .left-login-img {
         width: 70vw;
     }

     .right-login {
         width: 90vw;
         height: auto;
     }

     .botao-git {
         margin-bottom: -10px;
     }

 }

 @media only screen and (max-width: 940px) {
     .card-login {
         width: 85%;
     }

     .card-login>h1 {
         margin-top: -10px;
     }

     .main-login {
         flex-direction: column;
     }
 }

 /* para uso em monitor ultra-wide */
 @media only screen and (min-width: 1920px) {
     body {
         margin: 0;
     }

     .left-login>h1 {
         color: #77ffc0;
         font-size: 1.9vw;
     }

     .left-login-img {
         width: 50%;
     }

     .right-login {
         width: 50vw;
         height: 100vh;
         background: #201b2c;
         display: flex;
         justify-content: center;
         align-items: center;
     }
 }