 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

 body * {
     box-sizing: border-box;
     margin: 0;
 }

 body {
     background: #201b2c;
     margin: 0;
     font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
 }

 .logo-git {
     position: absolute;
     margin-top: 30px;
     margin-left: 20px;
 }

 /* usando display flex na class main-login colocamos os itens que antes estavam sobrepostos como lado a lado */
 .main-login {
     width: 100vw;
     height: 100vh;
     background: #201b2c;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .left-login {
     width: 50vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 .left-login>h1 {
     color: #77ffc0;
     font-size: 3vw;
 }

 .left-login-img {
     width: 35vw;
 }

 .right-login {
     width: 50vw;
     height: 100vh;
     background: #201b2c;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .card-login {
     width: 60%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 30px 35px;
     background: #2f2841;
     border-radius: 20px;
     box-shadow: 0px 10px 40px #00000057;
     /* Box-shadow: eixo x, y, espalhar e cor */
 }

 .card-login {
     color: #77ffc0;
     font-weight: 800;
     margin: 0;
 }

 .textfield {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     margin: 10px 0px;
 }

 .textfield>input {
     width: 100%;
     border: none;
     border-radius: 10px;
     padding: 15px;
     background: #514869;
     color: #f0ffffde;
     font-size: 12pt;
     box-shadow: 0px 10px 40px #00000057;
     outline: none;
     /* outline tira a caixinha de  destaque quando passa com mouse sobre o input ou a label */
     box-sizing: border-box;
     /* box-sizing: a div filho não pode ultrapassar a div pai, então ele limita sem atravessar como antes de aplicá-lo */
 }

 .textfield>label {
     color: #f0ffffde;
     margin-bottom: 10px;
 }

 .textfield>input::placeholder {
     color: #f0ffffde;
 }

 .btn-login {
     width: 100%;
     padding: 15px 0px;
     border: none;
     border-radius: 10px;
     margin: 25px 0 0;
     outline: none;
     text-transform: uppercase;
     font-weight: 800;
     letter-spacing: 3px;
     color: #2b134b;
     background: #77ffc0;
     /* cursor: pointer altera o ponteiro assim para clique assim que o mouse passa por cima */
     cursor: pointer;
     box-shadow: 0px 10px 40px -5px #00ff8052;
     text-align: center;
 }

 .btn-login:hover,
 .botao-git:hover {
     transform: scale(0.95);
     transition: all 1s;
 }

 .botao-git {
     margin-top: 25px;
 }